.tab--box{
    margin: 20px auto;
    width: 500px;
    height: 300px;
}

.tab--box ul{
    position: relative;
    top: 1px;
}

.tab--box ul li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    border: solid 1px #AAA;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.tab--box ul li.active{
    border-bottom: solid 1px #FFF;
    color: red;
}

.tab--box div{
    display: none;
    border: solid 1px #AAA;
    height: 300px;
}

.tab--box div.active{
    display: block;
}